.wordContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wordCard{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    gap: 20px;
    background: linear-gradient(to bottom, #ffffff,#3690a0);
    padding: 2rem;
    border-radius: 30px;
}
.wordCard h2{
    font-size: 2.5rem;
    text-align: center;
}
.moreBtn{
    cursor: pointer;
    color: blue;
    margin-left: 6
}
.audio-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button{
    font-size: 1.3rem;
    width: 50%;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}