*{
    margin: 0;
    padding: 0;
}
.formContainer{
    width: 100%;
    background-color: #18a87d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.formSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    gap: 2rem;
}
.inputs{
    padding-left: 1rem;
}
.inputs,.btns{
    width: 100%;
    height: 2.5rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 10px;
}
.btns{
    cursor: pointer;
}