@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: url("../src/assets/image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.forecastContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin: 2rem 2rem 0 2rem;
}

.cityContainer{
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 45%;

}
.cityContainer img{
  height: 25px;
  width: 25px;
  object-fit: contain;
}
.cityNameContainer{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.cityNameContainer{
  font-size: 1.2rem;

}
.searchContainer{
  display: flex;
  align-items: center;
  background-color: #fff;
  gap: .5rem;
  padding: .5rem;
  border-radius: 10px;
  width: 60%;
}
.searchContainer input{
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
}
.weatherContainer{
  padding: 2rem;
  display: flex;
}
.weatherCard{
  width: 100%;
  max-width: 500px;
  padding-top: 1.5rem;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 auto;
}


.skyContainer{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skyContainer img{
  width: 90%;
  border-radius: 20px;
}
.aboutWetherContainer{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  width: 100%;
  justify-content: center;
  margin: 1rem 0;
}
.aboutWetherContainer div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8ede1;
  border-radius: 15px;
  padding: 1rem;
 width: 30%;
 min-width: 100px;
}
.aboutInfo{
  color: #857e78;
}
.aboutWetherContainer div{
  transition: transform 0.2s ease;
}

.aboutWetherContainer div:hover{
  transform: translateY(-4px);
}

.units{
  font-weight: 600;
  color: #1c5576;
}
.infoContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  position: absolute;
  inset: 0;
  color: #fff;
  width: 100%;
}
.timeContainer{
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
}
.tempContainer{
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
.temp{
  font-size: 3rem;
}
.aboutSky{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.skyInfo{
  font-size: 1.5rem;
}
.feelsLike{
  font-size: 1.2rem;
}

