*{
    margin: 0;
    padding: 0;
}
.newsContainer{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    gap: 2rem;
}
.newsDisplay{
    display: flex;
    padding: 5px;
}
.imgContainer{
    height: 100%;
}
.imgContainer img{
    width: 30rem;
    height: 17rem;
    object-fit: cover;
}
.newsContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.infoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}